// Resource.rc

#include "Resource.h"

IDR_CONTEXT_MENU MENU DISCARDABLE
BEGIN
	POPUP "Context"
	BEGIN
		MENUITEM "Process Group",												IDM_PROCESS_GROUP
		MENUITEM SEPARATOR
		MENUITEM "Process Tag",													IDM_PROCESS_TAG
		MENUITEM SEPARATOR
		MENUITEM "&About",														IDM_HELP_ABOUT
	END
END
